<div id="navbarContainer"  >
  <div id="navbars">
    <div id="bubbleWrapper">
      <div id="bubble1" class="bubble  <%#= 'active_bubble' if controller_name == 'cookers' %> ">
        <span class="icon">
          <%= link_to cookers_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </span>
      </div>
      <div id="bubble2" class="bubble  <%#= 'active_bubble' if controller_name == 'orders' %>">
        <span class="icon">
          <i class="fas fa-shopping-bag"></i>
        </span>
      </div>
      <div id="bubble3" class="bubble <%#= 'active_bubble' if controller_name == 'chatrooms' %>" >
        <span class="icon">
          <i class="fas fa-comments"></i>
        </span>
      </div>
      <div id="bubble4" class="bubble">
        <span class="icon">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>
    <div id="menuWrapper">
      <%= link_to cookers_path do %>
        <div id="menu1" class="menuElement" data-nav-target = "menu1" >
          <i class="fas fa-home"></i>
        </div>
      <% end %>
      <%= link_to cart_orders_path do %>
        <div id="menu2" class="menuElement" data-nav-target = "menu2" >
          <% if user_signed_in? %>
            <div class="<%= 'cart-notification' unless current_user.orders.where(status: 0).empty? %> "  data-quantity-button-target="notification">
              <% unless current_user.orders.where(status: 0).empty? %>
                <% order_details = current_user.orders.where(status: 0).first.order_details %>
                <% sum = 0%>
                <% order_details.each { |d| sum += d.ordered_quantity } %>
                <%= sum %>
              <% end %>
            </div>
          <% end %>
          <i class="fas fa-shopping-bag"></i>
        </div>
      <% end %>
      <%= link_to  chatrooms_path do %>
        <div id="menu3" class="menuElement"data-nav-target = "menu3" >
          <i class="fas fa-comments"></i>
        </div>
      <% end %>
      <div id="menu4" class="menuElement"data-nav-target = "menu4" >
        <i class="fas fa-user "></i>
      </div>
    </div>
  </div>
  <div id="bgWrapper">
    <div id="bg"></div>
    <div id="bgBubble" ></div>
  </div>
</div>
<div>
  <%# <svg width="0" height="0" >  <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="20" result="blur" id="blurFilter"/>
        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0
                                                       0 1 0 0 0
                                                       0 0 1 0 0
                                                       0 0 0 30 -15"
                     result="goo" />
        <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
      </filter>
    </defs>
  </svg> %>
  <style>
    /* #bgWrapper {
         -webkit-filter: url(#goo);
         filter: url(#goo);
    } */
  </style>
</div>
<div class="menu" >
  <nav class="navigation">
    <ul class="mobile_menu_list">
      <li><%= link_to "Profil",  profil_path, class: "mobile_menu_link" %></li>
      <li><%= link_to "Commandes", orders_path, class: "mobile_menu_link" %></li>
      <li><%= link_to "A propos", about_path, class: "mobile_menu_link" %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "mobile_menu_link" %></li>
      <% else %>
        <li><%= link_to "Connexion", new_user_session_path, class: "mobile_menu_link" %></li>
      <% end %>
    </ul>
  </nav>
</div>
