<div class="container-fluid">
  <h1 class = "text-center">Mes commandes</h1>
  <%if @current_user_orders.empty?%>
    <p> Vous n'avez aucune commande</p>
  <%else%>
    <div class="orders-list">
      <% @current_user_orders.order(created_at: :desc).each do |order| %>
        <%= link_to order_path(order) do %>
          <div class="orders-list-order">
              <%= cl_image_tag(order.cooker.image.key, class:'avatar-order' ) %>
            <div>
              <p>Commande du
                <%= order.created_at.mday %>/<%= order.created_at.mon %>/<%= order.created_at.year %>
              </p>
              <p>chez <strong><%= order.cooker.first_name %></strong></p>
            </div>
            <div>
              <% if order.status == 0%>
                <div class="circle-empty"></div>
              <% else %>
                <div class="circle-full"> </div>
              <% end %>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  <%end%>
</div>
