<div class="container-fluid">
<%=current_user.first_name%> <%= current_user.last_name%>
<%=current_user.address%> <%= current_user.city%> <%= current_user.zip_code%>
<h1>Commande numéro <%= @order.id %></h1>

<%if @orderdetails.empty?%>
<p> Vous n'avez aucun plat dans cette commande</p>
<%else%>
  <%total = 0%>
  <ul>
      <% @orderdetails.each do |d| %>
        <%line_price = d.ordered_quantity * d.meal.unit_price%>
        <li><%=d.ordered_quantity%>
            <%=d.meal.name%>
            <%=d.meal.unit_price%> €
            <%=line_price%> €
            <%total = total + line_price%>
        </li>
      <%end%>
  </ul>

  <h3>Total <%=total%> €</h3>
  <%end%>
</div>
