<div class="container-fluid">
  <p> <%=current_user.first_name%> <%= current_user.last_name%> </p>
  <p>Commande numéro <%= @order.id %></p>
  <%if @orderdetails.empty?%>
    <p> Vous n'avez aucun plat dans cette commande</p>
  <%else%>
    <h4> Votre Chef: <strong><%=@cooker.first_name%></strong></h4>
    <p><%=@cooker.address%></p>
    <div class="order-show ">
      <%total = 0%>
      <% @orderdetails.each do |d| %>
        <div class="order-show-detail ">
          <div class="order-show-detail-left-img">
            <%= cl_image_tag d.meal.image.key, alt: d.meal.name if d.meal.image.key != nil%>
          </div>
          <div class="order-show-detail-center">
            <% if @order.status != 0 %>
              <p> <%=d.ordered_quantity%> <%= d.meal.name%></p>
            <% else %>
              <p><%= d.meal.name%></p>
              <div class= "order-show-detail-center-quantity">
                <span class="less">-</span> <span class="meal_quantity"><%= d.ordered_quantity %> </span><span class="more">+</span>
              </div>
            <% end %>
          </div>
          <div class="order-show-detail-right-subtotal">
            <%line_price = (d.ordered_quantity * d.meal.unit_price)%>
            <p><%=sprintf('%.2f', line_price)%> €</p>
          </div>
        </div>
        <%total = total + line_price%>
      <%end%>
    </div>
    <div class= "meal-show-body-footer">
      <div class="order-show-body-footer-quantity">
        <h3>Total: <%=sprintf('%.2f', total)%> €</h3>
      </div>
      <% if @order.status == 0%>
        <%= link_to "" do %>
          <div class="order-show-button">Confirmer</div>
        <% end %>
      <% end %>
    </div>
  </div>
<%end%>
</div>
