<div class="container-fluid" data-controller="quantity-buttom">
  <div class="cookers-show ">
    <div class="cookers-show-header">
      <div class="head">
        <%= cl_image_tag(@cooker.image.key, class:'avatar-large' ) %>
        <h1><%= @cooker.first_name %> </h1>
        <span class = "rating">4.52 <i class="fas fa-star" style="color: #ffb016"></i></span>
      </div>
      <div class="cookers-show-header-description">
        <p><i class="fas fa-quote-left"></i> <%= @cooker.description %><i class="fas fa-quote-right"></i></p>
      </div>
      <div class = "cookers-show-header-footer" >
        <p class="speciality"><%= @cooker.speciality %></p>
        <p class="speciality"> Chef expert</p>
      </div>
    </div>
    <div class="cooker-show-cards swiper-container">
      <div class="swiper-wrapper">
        <% @meals.each do |meal| %>
          <div class="swiper-slide">
            <div class="meal-card">
              <div class="meal-card-header">
                <div class="meal-card-header-img">
                  <%= cl_image_tag meal.image.key, alt: meal.name if meal.image.key != nil%>
                </div>
                <div class="meal-card-header-price"><span><%= meal.unit_price %></span> €</div>
              </div>
              <div class="meal-card-body">
                <div class= "meal-card-body-detail">
                  <h2><%= meal.name %></h2>
                  <p> <%= meal.description %></p>
                </div>
                <div class= "meal-card-body-quantity">
                  <span class="more">+</span>   <span class="meal_quantity">0</span><span class="less">-</span>
                </div>
              </div>
              <div class="meal-card-body-footer">
                <%= link_to cooker_test_path(@cooker, meal) do %>
                  <p class="meal-card-body-more-info">Plus d'infos</p>
                <% end%>
                <%= simple_form_for([@cooker, @orderdetail],
                url: cooker_order_details_path(@cooker)) do |f| %>
                  <%= hidden_field_tag :meal_id, meal.id %>
                  <%= f.button :submit, "Ajouter", class: 'meal-card-body-button' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="cookers-show-reviews" >
      <h2>
        <p><%= @cooker.reviews.size  %> Avis</p>
      </h2>
      <div data-controller="insert-in-list" >
        <div id="reviews" data-insert-in-list-target="items">
          <% if @cooker.reviews.blank? %>
            <p> Soyez le premier à laisser un avis à <strong><%= @cooker.first_name %></strong> </p>
            <br>
          <% else %>
            <% @cooker.reviews.each do |review| %>
              <div class="review-content">
                <div class="review-content-header">
                  <%= cl_image_tag(review.user.image.key, class:'avatar' ) %>
                  <h3><%= review.user.first_name.capitalize %></h3>
                  <div class="rating">
                    <% for i in 1..review.rating %>
                      <i class="fas fa-star" style="color: #ffb016"></i>
                    <% end %>
                  </div>
                </div>
                <p id="review-<%= review.id %>"><%= review.content %></p>
                <p class="review-content-created">Le: <%= review.created_at.strftime("%d-%m-%y") %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<br>
<%#= link_to "Add New Meal", new_cooker_test_path(@cooker) %>
