<div class="container-fluid" data-controller="quantity-buttom">
  <div class="cookers-show ">
    <div class="cookers-show-header">
      <div class="head">
        <%= cl_image_tag(@cooker.image.key, class:'avatar-large' ) %>
        <h1><%= @cooker.first_name %> </h1>
        <span class = "rating"><%= @cooker.average_rating%><i class="fas fa-star" style="color: #ffb016"></i></span>
      </div>
      <div class="cookers-show-header-description">
        <p><i class="fas fa-quote-left"></i> <%= @cooker.description %><i class="fas fa-quote-right"></i></p>
      </div>
      <div class = "cookers-show-header-footer" >
        <p class="speciality"><%= @cooker.speciality %></p>
        <p class="speciality"> Chef expert</p>
      </div>
    </div>
    <div class="cooker-show-cards swiper-container">
      <div class="swiper-wrapper">
        <% @meals.each do |meal| %>
          <div class="swiper-slide">
            <div class="meal-card" >
              <div class="meal-card-header">
                <div class="meal-card-header-img">
                  <%= cl_image_tag meal.image.key, alt: meal.name if meal.image.key != nil%>
                </div>
              </div>
              <div class="meal-card-body">
                <div class="meal-card-body-quantity-container">
                  <div class="meal-card-body-quantity">
                    <% if @quantity == 1 %>
                      <div class="meal-show-body-footer-less-one" data-action="click->quantity-button#decrement" data-quantity-button-target="less"><i class="fas fa-minus-circle"></i></div>
                    <% else %>
                      <div class="meal-show-body-footer-less" data-action="click->quantity-button#decrement" data-quantity-button-target="less"><i class="fas fa-minus-circle"></i></div>
                    <% end %>
                    <div class="meal-show-body-footer-meal-quantity" data-quantity-button-target="quantity"></div>
                    <div class="meal-show-body-footer-more" data-action="click->quantity-button#increment"data-quantity-button-target="more"> <i class="fas fa-plus-circle"></i></div>
                  </div>
                </div>
                <div class= "meal-card-body-detail">
                  <h2><%= meal.name %></h2>
                  <p> <%= meal.description.truncate(60) %> </p>
                </div>
                <%= link_to cooker_meal_path(@cooker, meal) do %>
                  <p class="meal-card-body-more-info">Plus d'infos</p>
                <% end%>
              </div>
              <div class="meal-card-body-footer">
                <div class="meal-card-header-price"><span><%= sprintf('%.2f', meal.unit_price) %></span> €</div>
                <%= simple_form_for([@cooker, @orderdetail],
                url: cooker_order_details_path(@cooker)) do |f| %>
                  <%= hidden_field_tag :meal_id, meal.id %>
                  <%= f.button :submit, "Ajouter", class: 'meal-card-body-button' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="cookers-show-reviews" >
      <% @cooker.reviews.each do |review| %>
        <div class="review-content">
          <div class="review-content-header">
            <%= cl_image_tag(review.user.image.key, class:'avatar' ) %>
            <h3><%= review.user.first_name.capitalize %></h3>
            <div class="rating">
              <% for i in 1..review.rating %>
                <i class="fas fa-star" style="color: #ffb016"></i>
              <% end %>
            </div>
          </div>
          <p id="review-<%= review.id %>"><%= review.content %></p>
          <p class="review-content-created">Le: <%= review.created_at.strftime("%d-%m-%y") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
