<div class="container-fluid">
  <div class="meal-new">
    <%= simple_form_for @meal do |f| %>
      <h1 class="text-center" >Modifiez Votre plat 😋</h1>
      <%= f.input :image, as: :file %>
      <%= f.input :name %>
      <%= f.input :description%>
      <%= f.input :ingredients%>
      <%= f.input :available_quantity %>
      <%= f.submit "Valider", class: "" %>
    <% end %>
  </div>
</div>
