<div class="container-fluid">
  <div class="meal-new">
    <%= link_to profil_path do  %>
      <i class="fas fa-chevron-left about-header-arrow"></i>
    <% end %>
    <%= simple_form_for @meal do |f| %>
      <h1 class="text-center">Ajoutez votre plat 😋</h1>
      <%= f.input :image, as: :file %>
      <%= f.input :unit_price, label: "Prix unitaire"%>
      <%= f.input :name, label: "Nom" %>
      <%= f.input :description%>
      <%= f.input :ingredients%>
      <%= f.input :available_quantity, label: "Quantité disponible" %>
      <%= f.submit "Valider", class: "meal-add" %>
    <% end %>
  </div>
</div>
